server:
  port: 9000
spring:
  application:
    name: advanced-jpa-demos
  datasource:
    password: password
    username: root
    url: jdbc:mysql://localhost:3306/ever_north
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true